.my-comment {
    color: red;
}

p {
    text-align: left;
}

tr, td {
    text-align: left;
    padding-right: 30px;
}

.my-sidebar-right {
    position: fixed;
    right: 25px;
    top: 125px;
    width: auto;
}


.my-sidebar-left {
    position: fixed;
    left: 25px;
    top: 125px;
    width: auto;
}

.model_title { 
    color: red;
}

h3::before{
    display: block; 
    content: " "; 
    margin-top: -80px; 
    height: 80px; 
    visibility: hidden; 
    pointer-events: none;
}