
.my-comment {
    color: red;
}

p {
    text-align: left;
}

tr, td {
    text-align: left;
    padding-right: 30px;
}

.my-sidebar-right {
    position: fixed;
    right: 200px;
    top: 110px;
    width: auto;

    background-color: white;
}


.my-sidebar-left {
    position: fixed;
    /*left: 25px;
    top: 125px;*/
    left: 0px;
    top: 80px;
    bottom: 0px;
    width: 170px;

    overflow-y: scroll;
    background-color: white;
}

.model_title { 
    color: red;
}

h3::before{
    display: block; 
    content: " "; 
    margin-top: -80px; 
    height: 80px; 
    visibility: hidden; 
    pointer-events: none;
}


div.my-sidebar-right>ul.uk-nav>.uk-active>a::before {
    content: "";
    position: relative;
    width: 15px;
    border-top: 1px solid #5dd08d;
}

div.my-sidebar-left>ul.uk-nav>.uk-active>a::before {
    content: "";
    position: static;
    /*top: 15px;
    left: -25px;*/
    width: 15px;
    border-top: 1px solid #5dd08d;
}