.my-comment {
    color: red;
}

p {
    text-align: justify;
}

tr,
td {
    text-align: left;
    padding-right: 30px;
}

.my-sidebar-right {
    position: fixed;
    left: 50%;
    margin-left: 550px;
    top: 160px;
    width: 100px;
}

.my-sidebar-left {
    position: fixed;
    left: 0px;
    top: 80px;
    bottom: 0px;
    width: 200px;

    overflow-y: scroll;
    background-color: #f8f8f8
}

.my-model-title {
    text-align: center;
}

.my-page-title {
    text-align: center;
}

div.my-sidebar-right>ul.uk-nav>:hover>a::before,
div.my-sidebar-right>ul.uk-nav>.uk-active>a::before {
    content: "";
    position: relative;
    width: 5px;
    border-top: 5px solid  rgb(117, 178, 152);
}

div.my-sidebar-left>ul.uk-nav>.uk-active>a::before {
    content: "";
    position: static;
    width: 5px;
    border-top: 5px solid  rgb(117, 178, 152);
}

.my-index-social-button {
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: rgb(117, 178, 152);

    box-shadow: -15px -15px 25px rgb(30, 30, 30);
}

.my-index-social-button:hover {
    color: rgb(77, 77, 77);
    background-color: rgb(117, 178, 152);
    box-shadow: 2px, 2px, 5px, black;

    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: -25px -25px 35px rgb(30, 30, 30);
    offset: 5px 5px;
}

.my-button {
    position: relative;
    top: 0px;
    background-color: rgb(77, 77, 77);
    outline-color: rgb(117, 178, 152);
    outline-width: 3px;
    outline-style: solid;
    color: white;
    border-radius: 50px;
    box-shadow: -15px -15px 25px rgb(30, 30, 30);
    padding-top: 5px;
    margin: 20px;
}

.my-button:hover {
    position: relative;
    top: 5px;
    left: 5px;
    color: rgb(117, 178, 152);
    box-shadow: -25px -25px 35px rgb(30, 30, 30);
    offset: 5px 5px;
    >p{
        color: rgb(117, 178, 152);
    };
    >h2{
        color: rgb(117, 178, 152);
    };
}

.my-button>p {
    color: white;
    text-align: center;
}

.my-button>h2 {
    color: white;
    text-align: center;
}

.my-heading {
    color: rgb(77, 77, 77);
    text-shadow: 0px 0px 5px rgb(117, 178, 152), -15px -15px 25px rgb(30, 30, 30);
}

ul.uk-subnav>.uk-active > a {
    background-color: rgb(117, 178, 152);
    color :white
}

.my-label {
    padding: 5px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(117, 178, 152);
    border-radius: 5px;
}

.my-slidenav-arrows {
    color: white;
    background-color: rgba(77, 77, 77, 0.3);
    border-radius: 10px;
    display: flex;
    height: 25%;
}

.my-slidenav-arrows:hover {
    color: rgb(117, 178, 152);
    stroke-width: 10;
}

.my-img-square {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
}